<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-background text-white other-title-font-size">
      {{'Privacy.title' | translate}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="more"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="user-details">
  <div class="user-details-items">
    <div class="setting-subtitle">{{'Privacy.shareWith' | translate}}</div>
    <div class="row-color">
      <div class="black-text">
        {{'Privacy.DUO' | translate}}
      </div>
      <div class="gray-text">
        {{'Privacy.medicalInfo' | translate}}
        <ion-checkbox class="setting-checkbox"></ion-checkbox>
      </div>
    </div>
    <div class="row-color">
      <div class="black-text">
        {{'Privacy.GGD' | translate}}
      </div>
      <div class="gray-text">
        {{'Privacy.personalInfo' | translate}}
        <ion-checkbox class="setting-checkbox"></ion-checkbox>
      </div>
    </div>

    <div class="row-color">
      <div class="black-text">
        {{'Privacy.internship' | translate}}
      </div>
      <div class="gray-text">
        {{'Privacy.personalInfo' | translate}}
        <ion-checkbox class="setting-checkbox"></ion-checkbox>
      </div>
      <div class="gray-text">
        {{'Privacy.medicalInfo' | translate}}
        <ion-checkbox class="setting-checkbox"></ion-checkbox>
      </div>
    </div>

    <div class="row-color">
      <div class="black-text">
        {{'Privacy.MEVA' | translate}}
      </div>
      <div class="gray-text">
        {{'Privacy.personalInfo' | translate}}
        <ion-checkbox class="setting-checkbox"></ion-checkbox>
      </div>
      <div class="gray-text">
        {{'Privacy.medicalInfo' | translate}}
        <ion-checkbox class="setting-checkbox"></ion-checkbox>
      </div>
      <div class="gray-text">
        {{'Privacy.financeInfo' | translate}}
        <ion-checkbox class="setting-checkbox"></ion-checkbox>
      </div>
    </div>
  </div>
</ion-content>
